<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="color.js"></script>

<body style="background-color:powderblue;">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">ABOUT US</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/home">REGISTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/search">SEARCH PLASMA DONOR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/all">ALL DONORS</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>
        <center>DONATE PLASMA SAVE LIFE!!</center>
    </h1>
    <img src="https://www.eventsinnepal.com/uploads/a087692d4be31e9e1469507ae9e98e35_11012915_10205286951747095_6535343468773218858_n.jpg" width="1350px" height="400px">

    <br>
    <h1>
        <marquee>WE HAVE <strong><%= data%></strong> DONORS CURRENTLY JOIN US!!!</marquee>
    </h1>



    <footer class="bg-dark text-center text-white ">
        <div class="text-center p-3 " style="background-color: rgba(0, 0, 0, 0.2); ">
            © 2020 Copyright:
            <a class="text-white " href="https://mdbootstrap.com/ ">MADE by PS</a>
        </div>
    </footer>
</body>